
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

.dropdown-multiselect
{
	width:100%;
}
.dropdown-toggle
{
	width:100%;
}

/* mon height for colum => fix the fluid layout issue in FF*/
@media (min-width: 768px) {
    [class*="col-"] {
		min-height:70px;
    }
}
@media (min-width: 992px) {
    [class*="col-"] {
		min-height:100px;
    }
}
@media (min-width: 1200px) {
    [class*="col-"] {
		min-height:130px;
    }
}