<div class="row">
    <div class="col-sm-24">
        <div class="panel panel-info">
            <div class="panel-heading"><div class="panel-title"><span >Vehicles</span></div></div>
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Total vehicles</td><td>{{CityData.GlobalDistrict.Vehicles.General.ActiveVehicles}}</td></tr>
                            <tr><td>Garbage trucks</td><td>{{CityData.GlobalDistrict.Vehicles.CityMaintenanceVehicle.GarbageTrucks}}</td></tr>
                            <tr><td>Fire trucks</td><td>{{CityData.GlobalDistrict.Vehicles.CityMaintenanceVehicle.FireTrucks}}</td></tr>
                            <tr><td>Police cars</td><td>{{CityData.GlobalDistrict.Vehicles.CityMaintenanceVehicle.PoliceCars}}</td></tr>
                            <tr><td>Ambulances</td><td>{{CityData.GlobalDistrict.Vehicles.CityMaintenanceVehicle.Ambulances}}</td></tr>
                            <tr><td>Hearses</td><td>{{CityData.GlobalDistrict.Vehicles.CityMaintenanceVehicle.Hearses}}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <div>Intra city circulation reason</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(reason, count) in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Residential.IntraReasons">
                                <td>{{reason}}</td><td>{{count}}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <div>Import product type</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(reason, count) in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Industrial.ImportingReasons">
                                <td>{{reason}}</td><td>{{count}}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6">
                    <div>Export product type</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>Reasons</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(reason, count) in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Industrial.ExportingReasons">
                                <td>{{reason}}</td><td>{{count}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div>Citizen vehicles current districts</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>District name</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dist in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Residential.SrcDistricts | orderBy:'-Count' | limitTo:5">
                                <td>{{dist.Name}}</td><td>{{dist.Count}}</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <div>Citizen vehicles destination districts</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>District name</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dist in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Residential.DstDistricts | orderBy:'-Count' | limitTo:5">
                                <td>{{dist.Name}}</td><td>{{dist.Count}}</td></tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-sm-6">
                    <div>Industrial vehicles current districts</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>District name</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dist in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Industrial.SrcDistricts | orderBy:'-Count' | limitTo:5">
                                <td>{{dist.Name}}</td><td>{{dist.Count}}</td></tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-6">
                    <div>Industrial vehicles destination districts</div>
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>District name</th>
                                <th>Vehicle count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="dist in CityData.GlobalDistrict.Vehicles.CityServicesVehicles.Industrial.DstDistricts | orderBy:'-Count' | limitTo:5">
                                <td>{{dist.Name}}</td><td>{{dist.Count}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>